@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
.chats-section {
  position: relative;
  &__container {
    display: grid;
    @media (max-width: 43.75em) {
      display: block;
    }
    grid-template-columns: 25rem auto;
    height: 100vh;
    // gap: v.$sm-flex-gap;
    margin: 0 auto;
  }

  &__category {
    display: flex;
    justify-content: space-around;
    padding: 9.8rem 0 0 0;

    & p {
      font-size: 1.6rem;
      font-weight: 500;
      color: v.$primary-grey-color;
      cursor: pointer;
    }
  }

  &__chats-box {
    @include m.Flex(initial, column);
    list-style: none;
    gap: 2.4rem;
    padding: 2.4rem 0;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ced4da;
      border-radius: 20px;
    }
  }

  &__chats {
    @include m.Flex(center, row);
    gap: 1.4rem;
    &-img {
      @include m.resizeProfileImg;
    }

    & a:link,
    & a:visited {
      @include m.Flex(center, row);
      gap: v.$sm-flex-gap;
      text-decoration: none;
      color: v.$primary-grey-color;
    }
  }

  &__chats-name {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__icon-close {
    font-size: 2.8rem;
    position: absolute;
    right: 0;
    top: 1rem;
    display: none;
    z-index: 1000;
    cursor: pointer;

    @media (max-width: 43.75em) {
      display: block;
    }

    // @media(max-width: 21.87em){
    //   right:-9.8rem;
    // }
  }

  &__chats-discuss {
    font-size: 1.6rem;
  }
  &__ut-cs {
    position: sticky;
    height: 100%;
    // width: 25%;
    border-right: 2px solid v.$primary-grey-color;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    @media (max-width: 43.75em) {
      position: fixed;
      top: 0;
      width: 70%;
      background-color: #f8f9fa;
      height: 100vh;
      z-index: 10;
      transform: translateX(-150%);
    }

    @media (max-width: 22em) {
      width: 100%;
    }
    &--active {
      @media (max-width: 43.75em) {
        transform: translateX(0);
      }
    }
  }

  &__message-box {
    position: relative;
    overflow-y: auto;
    height: 80%;
    display: flex;
    grid-column: 2/-1;
    flex-direction: column;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
    @media (max-width: 43.75em) {
      // height: 85%;
    }
  }

  &__msg-send-btn {
    border-radius: 100px !important;
    // position: fixed;
    // bottom: 0;
    // /* top: 50%; */
    // border: 50%;
    // /* bottom: 50%; */
    // right: 3vw;
    // transform: translateY(-39%);
  }

  &__chat-receiver {
    @include m.Flex(center, row);
    gap: v.$sm-flex-gap;
    background-color: #f8f9fa;
    padding: 2.4rem 0 1.8rem 2.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 2px solid v.$primary-grey-color;
    position: fixed;
    width: 100%;
    top: 0;

    @media (max-width: 43.75em) {
      padding-left: 6rem;
    }

    &-details p:first-child {
      font-size: 1.8rem;
    }
    & p:nth-child(2) {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  &__chat-receiver-img {
    @include m.resizeProfileImg;
  }

  &__chat-list {
    flex-shrink: 0;
    // width: 0;
  }

  &__profile-box {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-bottom: 0.6rem;

    & p {
      font-size: 1.8rem;
      font-style: italic;
    }
  }
  &__input-box {
    position: fixed;
    bottom: 0;
    width: 77%;
    padding: 1.4rem 0;
    margin-top: auto;

    @media (max-width: 62.5em) {
      width: 60%;
    }

    @media (max-width: 43.75em) {
      width: 88%;
    }
  }
  &__chat-input {
    // resize: none;

    border: 2px solid #000;
    border-radius: 100px;
    overflow: hidden;
    padding: 0.2rem 0.4rem;
    font-size: 2rem !important;
    margin-left: 2.2rem;
  }

  &__message-list {
    position: absolute !important;
    // bottom: 0;
    // position: absolute !important;
    padding: 3rem 0;
    top: 8rem;
    padding-top: 2rem;
    z-index: -1;
    width: 100%;
    &-util {
      margin-bottom: 2.5rem;
    }
  }

  &__empty-chat {
    // width: 100%;
    // left: 50%;
    height: 100%;
    // transform: translateX(-50%);
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // height: 100vh;
    padding: 0 0.7rem;

    &-img {
      width: 40rem;
      margin: 0 auto;
    }
    & p {
      font-size: 3.8rem;
      color: #333;
      font-weight: 500;
    }
  }

  &__icon-toggle {
    display: none;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    cursor: pointer;
    position: absolute;
    font-size: 3.2rem;
    @media (max-width: 43.75em) {
      display: block;
      z-index: 1000;
    }
    &--active {
      @media (max-width: 43.75em) {
        display: none;
      }
    }
  }

  &__footer {
    // position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    // padding:2.4rem 0;

    & a:link,
    & a:visited {
      text-decoration: none;
      color: #339af0;
    }
  }

  &__offline {
    text-align: center;
    & img {
      width: 100%;
    }
    & p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
}

.rce-input-textarea {
  padding: 10px 0 !important;
  // margin-top: auto;
  height: 40px !important;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.ut-exp {
  position: absolute;
  right: 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  top: 0;
  color: #555;
}
.server-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  width: 100%;
  text-align: center;
}
